body{
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(40deg, black 10%, rgb(18, 22, 61) 20%, rgb(18, 18, 102) 30%, darkblue 50%, rgb(50, 0, 130) 70%, indigo 90%);
    background-size: 300% 300%;
    animation: animateBG 50s ease infinite;
}
.home-container{
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background: linear-gradient(40deg, black, rgb(18, 22, 61), rgb(18, 18, 102), darkblue, rgb(50, 0, 130), indigo);
    background-size: 300% 300%;
    animation: animateBG 50s ease infinite;
}.home-container .menu-form{
    width: 50%;
    height: 70%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;    
    background-color: rgba(110, 110, 110, 0.123);
    backdrop-filter: blur(500px);  
    border-radius: 80px;
}.home-container .buttons-section{    
    display: flex;
    flex-direction: row;
    gap: 15px;
}.home-container button, .home-container a{
    border-radius: 8px;
    background-color: lightgray;
    width: fit-content;
    padding: 1vw 2vh;
    margin: 0 auto;
}.home-container .emphasis{    
    background-color: purple !important;
    color: white;
}
.home-container .menu-form h1{ 
    font-size: 60px; 
    font-variant: small-caps; 
    font-weight: bolder;
}.word-animation{
    background-repeat: no-repeat;
    animation: circular-flow infinite linear;    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    box-decoration-break: clone;
}.word-animation:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/7135121/pexels-photo-7135121.jpeg");
    background-size: 720px 1024px;
    animation-duration: 30s;
}.word-animation::before {
  background-image: inherit; 
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  opacity: 0.8;
}

.tester-chat{
    height: 20%;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(58, 58, 58);
}
.overlay {
  display: none;
  position: fixed;
  width: 100%; height: 100%;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(5px);
  z-index: 10;
}
dialog {
  position: fixed;
  margin: auto;
  padding: 20px !important;
  border-radius: 12px;
  background: rgb(58, 58, 58);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  display: none; 
  z-index: 20;
} dialog button { background-color: purple !important; color: white; border-radius: 0 10px 10px 0px !important;
} dialog a { position: absolute; top: 0; right: 0; background-color: transparent !important; padding: 5px !important;
} dialog input:nth-of-type(1){ border-radius: 10px 0 0 10px !important; }

dialog.active {
  display: flex;
}.overlay.active {
  display: block;
}


@keyframes gradient-slide {
  0%   {   background-position: 100% 100%;  }
  100% {   background-position: 0px 0px;  }    
}

@keyframes animateBG {
 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes circular-flow {
  0%   { background-position: 50% 0%; }
  25%  { background-position: 100% 50%; }
  50%  { background-position: 50% 100%; }
  75%  { background-position: 0% 50%; }
  100% { background-position: 50% 0%; }
}